@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--secondary-background: 0 0% 98.8%;
		--foreground: 224 71.4% 4.1%;

		--muted: 0 0% 88%;
		--muted-foreground: 0 0% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 20%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 220 13% 91%;

		--radius: 0.5rem;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 0 0% 7%;
			--secondary-background: 0 0% 9%;
			--foreground: 0 0% 90%;

			--muted: 0 0% 30%;
			--muted-foreground: 0 0% 55%;

			--popover: 0 0% 7%;
			--popover-foreground: 210 20% 98%;

			--card: 0 0% 7%;
			--card-foreground: 210 20% 98%;

			--border: 0 0% 18%;
			--input: 0 0% 18%;

			--primary: 210 20% 98%;
			--primary-foreground: 220.9 39.3% 11%;

			--secondary: 0 0% 15%;
			--secondary-foreground: 0 0% 85%;

			--accent: 0 0% 18%;
			--accent-foreground: 210 20% 98%;

			--destructive: 355 100% 75%;
			--destructive-foreground: 210 20% 98%;

			--ring: 0 0% 18%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground select-none;
	}
}
